<header th:fragment="header">
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark"
		aria-label="Third navbar example">

		<div class="container-fluid">

			<button type="button" id="sidebarCollapse" class="navbar-btn">
				<span></span> <span></span> <span></span>
			</button>

			<!-- 			<img class="company-logo mx-2" src="img/leaf.svg" -->
			<!-- 				alt="The Planet Earth">  -->

			<a class="fas fa-layer-group apptitle mx-3 text-info fa-2x"
				href="/home" th:href="@{/home}"></a>

			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#mainAppNavbar"
				aria-controls="mainAppNavbar" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="mainAppNavbar">
				<ul class="navbar-nav me-auto mb-2 mb-sm-0">
					<li class="nav-item active"><a class="nav-link"
						aria-current="page" href="/" th:href="@{/}"><i
							class="fa fas fa-home text-danger"></i> <span class="tobehidden">Home</span></a></li>
					<li class="nav-item active"><a class="nav-link"
						aria-current="page" href="/dashboard" th:href="@{/dashboard}"
						sec:authorize="isAuthenticated()"><i
							class="fa fas fa-tachometer-alt text-danger"></i> <span
							class="tobehidden">Dashboard</span></a></li>
					<li class="nav-item" sec:authorize="isAuthenticated()"><a
						class="nav-link" href="/userlist" th:href="@{/userlist}"><i
							class="fa fas fa-users text-danger"></i> <span class="tobehidden">Users</span></a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="dropdown03"
						data-bs-toggle="dropdown" aria-expanded="false"><i
							class="fa fas fa-database text-danger"></i> <span
							class="tobehidden">Repositories</span></a>
						<ul class="dropdown-menu" aria-labelledby="dropdown03">
							<li sec:authorize="isAuthenticated()"><a class="dropdown-item" href="/dbFilesList"
								th:href="@{/dbFilesList}"><i
									class="fa fas fa-database text-success me-3"></i> Database</a></li>
							<li sec:authorize="isAuthenticated()"><a class="dropdown-item" href="/dbFilesList"
								th:href="@{/dbFilesList}"><i
									class="fa fas fa-database text-success me-3"></i> FileNet</a></li>
							<li><a class="dropdown-item" href="/alfresco"
								th:href="@{/alfresco}"><i
									class="fa fas fa-database text-success me-3"></i> Alfresco</a></li>
							<li sec:authorize="isAuthenticated()"><a class="dropdown-item" href="/dbFilesList"
								th:href="@{/dbFilesList}"><i
									class="fa fas fa-database text-success me-3"></i> MongoDB</a></li>
							<li sec:authorize="isAuthenticated()"><a class="dropdown-item" href="/dbFilesList"
								th:href="@{/dbFilesList}"><i
									class="fa fas fa-database text-success me-3"></i> Amazon S3</a></li>
						</ul></li>

					<li class="nav-item dropdown mx-2"
						sec:authorize="isAuthenticated()"><a class="nav-link"
						href="#" id="dropdown02" data-bs-toggle="dropdown"
						aria-expanded="false"><i class="fa fa-bell"></i><span
							class="badge badge-pill bg-danger navbarcounter">13</span></a>
						<ul class="dropdown-menu dropdown-menu-end"
							aria-labelledby="dropdown02">
							<li><a class="dropdown-item text-center" href="#"><i
									class="far fa-clock text-danger"> 2 Hours ago</i><br />This is
									the alert message1...</a>
								<div class="dropdown-divider"></div></li>
							<li><a class="dropdown-item text-center" href="#"><i
									class="far fa-clock text-danger"> 2 Hours ago</i><br />This is
									the alert message2...</a>
								<div class="dropdown-divider"></div></li>
							<li><a class="dropdown-item text-center" href="#"><i
									class="far fa-clock text-danger"> 2 Hours ago</i><br />This is
									the alert message3...</a>
								<div class="dropdown-divider"></div></li>
						</ul></li>

					<li class="nav-item dropdown" sec:authorize="isAuthenticated()"><a
						class="nav-link" href="#" id="dropdown03"
						data-bs-toggle="dropdown" aria-expanded="false"><i
							class="fa fa-envelope"></i> <span
							class="badge badge-pill bg-primary navbarcounter">17</span></a>
						<ul class="dropdown-menu dropdown-menu-end"
							aria-labelledby="dropdown03">

							<li><a class="dropdown-item text-center" href="#"><i
									class="far fa-clock text-danger"> 2 Hours ago</i><br />This is
									the notification message1...</a>
								<div class="dropdown-divider"></div></li>
							<li><a class="dropdown-item text-center" href="#"><i
									class="far fa-clock text-danger"> 2 Hours ago</i><br />This is
									the notification message2...</a>
								<div class="dropdown-divider"></div></li>
							<li><a class="dropdown-item text-center" href="#"><i
									class="far fa-clock text-danger"> 2 Hours ago</i><br />This is
									the notification message3...</a>
								<div class="dropdown-divider"></div></li>
						</ul></li>

					<li class="nav-item mode mx-3" sec:authorize="isAuthenticated()"><a
						class="nav-link" href="#" onclick="openOverlayNav()"><i
							class="fas fa-bookmark text-danger"></i> </a></li>

					<li class="nav-item active" sec:authorize="isAuthenticated()"><a class="nav-link"
						aria-current="page" href="#" onClick="toggleBtnCntnr();"><i
							class="fa fas fa-tools text-danger"></i> <span class="tobehidden">
								<!-- 								AdminTools -->
						</span></a></li>


					<!-- 						<li class="nav-item active" th:if="${#httpServletRequest.requestURI == '/dbFilesList'}"><a class="nav-link" -->
					<!-- 						aria-current="page" href="#" id="toggleSearchCntnr" -->
					<!-- 						 onClick="toggleSearchCntnr();"><i -->
					<!-- 							class="fa fas fa-search text-primary"></i> <span class="tobehidden"> -->
					<!-- 																AdminTools -->
					<!-- 						</span></a></li> -->





					<li class="nav-item mode"><a class="nav-link" href="#"
						onclick="switchTheme()"> <i class="fas fa-moon dark-icon"></i>
							<i class="fas fa-sun light-icon text-warning"></i>
					</a></li>


				</ul>

				<!-- 				<div id="navSearchForm" class="mx-1"> -->
				<!-- 					<form action="#" class="search-form py-0"> -->
				<!-- 						<input type="text"> -->
				<!-- 						<button type="submit"> -->
				<!-- 							<i class="fas fa-search navbar-search-icon text-danger"></i> -->
				<!-- 						</button> -->
				<!-- 					</form> -->
				<!-- 				</div> -->

				<a type="button" class="btn btn-primary"
					sec:authorize="isAnonymous()" href="/login"
							th:href="@{/login}"> <i
					class="fas fa-sign-in-alt text-white mx-2"></i>Login
				</a>

				<ul class="navbar-nav dropdown-menu-end"
					sec:authorize="isAuthenticated()">
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="dropdown01"
						data-bs-toggle="dropdown" aria-expanded="false"><img
							class="img-responsive img-rounded" src="img/user.svg" height="30"
							width="30" alt="User picture"></a>
						<ul class="dropdown-menu dropdown-menu-end"
							aria-labelledby="dropdown01">
							<li><a href="/myDocuments" th:href="@{/myDocuments}"
								class="dropdown-item mt-2"><i class="far fa-file mx-2"></i>
									My Documents</a></li>
							<li><a href="/profile" th:href="@{/profile}"
								class="dropdown-item mt-2"><i class="far fa-id-badge mx-2"></i>
									My Profile</a></li>
							<li><a href="/userProfilesList"
								th:href="@{/userProfilesList}" class="dropdown-item mt-2"><i
									class="far fa-id-badge mx-2"></i> All Profiles</a></li>
							<li><a href="/orgChart" th:href="@{/orgChart}"
								class="dropdown-item mt-2"><i
									class="fas fa-project-diagram mx-2"></i> Org Chart</a></li>
							<li><a href="#" class="dropdown-item mt-2"><i
									class="far fa-comments mx-2"></i>Messages</a></li>
							<li><a href="#" class="dropdown-item mt-2"
								data-bs-toggle="modal" data-bs-target="#settingsModal"><i
									class="fas fa-cog mx-2"></i>Settings</a></li>
							<li><a href="/logout" th:href="@{/logout}"
								class="dropdown-item mt-2"><i
									class="fas fa-sign-out-alt mx-2"></i>Logout</a></li>

							<li class="text-center text-white bg-danger"
								th:text="${#authentication.getPrincipal().getUsername()}"><i
								class="fas fa-user"></i>UserName</li>

							<li>
								<ul class="text-white bg-primary"
									th:each="entry, stats : ${#authentication.getPrincipal().authorities}">
									<li th:text="${entry}"></li>
								</ul>
							</li>

						</ul></li>
				</ul>

			</div>
		</div>
	</nav>
</header>


