<div class="buttons-container" id="buttons-container" th:fragment="panel">
	<ul>
		<li><a href="#"><i class="fas fa-users"></i></a></li>
		<li><a href="#"><i class="fa fa-database"></i></a></li>
		<li><a href="#"><i class="fa fa-server"></i></a></li>
		<li><a href="#"><i class="far fa-address-card"></i></a></li>
		<li><a href="#"><i class="fas fa-filter"></i></a></li>
		<li><a href="#"><i class="fas fa-chart-pie"></i></a></li>
		<li><a href="#"><i class="fas fa-chart-bar"></i></a></li>
		<li><a href="#"><i class="fa fa-cog"></i></a></li>

	</ul>

</div>