<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title
	th:text="${#httpServletRequest.getRequestURI().contains('/userEdit') ? 'User Add/Edit':''}"></title>

</head>
<body>
	<div layout:fragment="content">


		<nav
			class="navbar navbar-expand py-0 navbar-dark bg-dark navbar-custom">
			<div class="container-fluid">
				<div class="col-md-6 float-start">
					<h4 class="m-0 text-danger">Upload Files</h4>
				</div>
				<div class="col-md-6 align-middle mt-3">
					<ol class="breadcrumb float-end">
						<li class="breadcrumb-item text-danger"><a href="/"
							th:href="@{/}"> Home</a></li>
						<li class="breadcrumb-item active">Upload Files</li>
					</ol>
				</div>
			</div>
		</nav>



		<div class="row">
			<div class="col-12 col-md-12 col-lg-12">
				<div class="card themed-card card-fullheight">
					<div class="card-header card-header-nobg">
						<div class="d-flex align-items-center justify-content-between">
							<h3 class="float-start">Upload Files</h3>
							<a class="btn btn-sm btn-success float-end" href="/dbFilesList"
								th:href="@{/dbFilesList}"><i class="fas fa-list"></i> View
								Files List</a>
						</div>

					</div>




					<div class="card-content">
						<div class="col-md-12 mt-2 text-center">
							<a href="/dbfileslist" th:href="@{/dbFilesList}"
								class="btn btn-danger submit-btn"> <i class="fas fa-check"></i>
								I AM DONE HERE
							</a>
						</div>


						<div class="card themed-card">
							<div class="card-header card-header-nobg">
								<div
									class="d-flex align-items-center justify-content-between mb-4">
									<h3 class="float-start">Select and Upload Files</h3>
								</div>
							</div>
							<div class="card-content">
								<form method="POST" class="form-group needs-validation mt-3"
									id="fileUploadForm" name="multipleUploadForm"
									enctype="multipart/form-data" novalidate>
									<input id="multipleFileUploadInput" type="file" name="files"
										class="file-input" multiple required />
									<button type="submit" class="btn btn-sm btn-success submit-btn">
										<i class="fas fa-cloud-upload-alt"></i> Upload
									</button>
									<div class="invalid-feedback">Please select at least one
										file.</div>
								</form>
								<div class="upload-response">
									<div id="multipleFileUploadError"></div>
									<div id="multipleFileUploadSuccess"></div>
								</div>
							</div>
						</div>



							<div class="col-md-12">
<!-- 								<div th:if="${successMessage}"> -->
<!-- 									<div class="fw-bold" -->
<!-- 										th:text="${successMessage}"></div> -->
<!-- 									<hr /> -->
<!-- 								</div> -->
<!-- 								<div th:if="${failedMessage}"> -->
<!-- 									<div class="fw-bold" -->
<!-- 										th:text="${failedMessage}"></div> -->
<!-- 									<hr /> -->
<!-- 								</div> -->
								<div th:each="filename,iterStat: ${files}">
									<div class="fw-bold"
										th:class="'font-weight-bold badge'"
										th:classappend="${iterStat.odd}? 'alert alert-info alert-big-font' : 'alert alert-success alert-big-font'"
										th:text="${filename + '  - uploaded successfully.'}"></div>

								</div>
								<!-- 								<br /> -->
<!-- 								<div th:if="${successMessage}"> -->
<!-- 									<a th:href="@{/myDocuments}" -->
<!-- 										class="btn btn-sm btn-primary mt-3"><i -->
<!-- 										class="fas fa-check"></i> Done </a> -->
<!-- 								</div> -->
							</div>








					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>